@font-face {
	font-family:MonospaceTypewriter;
	src: url('../tt/MonospaceTypewriter.ttf');
}

a {
	text-decoration: none;
	color:#ffffff;
}

article{
	padding-top:10px; 
	width:100%;
	height:700px;
	background-color:#272727;
}

article p{
	padding:0px 10px 0px 10px;
	font-family:MonospaceTypewriter;
	color:#ffffff;
	font-size:24px;
	margin-bottom:20px;
}

article a{
	text-decoration: none;
	color:red;
}

#cabe1{
	width:100%;
	height:50px;
	background-image:url('../images/titles/guiontit.png');
	background-repeat:no-repeat;
	background-color:#bc0d0d; 
	margin-bottom:25px;
}

#cabe2{
	width:100%;
	height:50px;
	background-image:url('../images/titles/desptit.png');
	background-repeat:no-repeat;
	background-color:#bc0d0d; 
	margin-bottom:25px;
}